/*--------------------------------------------------------------
# Post Block
--------------------------------------------------------------*/

.post {
  $root: &;
  &__container {
    @include make-container(0);
  }
  &__row {
    @include make-row(0);
  }
  &__block {
    @include make-col-ready(0);
    @include make-col(12);
    min-height: 150px;
    position: relative;
    img {
      float: left;
      margin-right: 20px;
    }
    h2 {
      font-size: 22px;
    }
    p {
      font-size: 14px;
    }
    &--pr {
      padding-right: 100px;
    }
    &--6 {
      padding: 10px;
      @include make-col(6);
      img {
        float: initial;
        width: 100%;
        margin-bottom: 10px;
      }
    }
  }
  &__infoPosts, &__infoContributors {
    color: $gray-500;
    font-size: 14px;
  }
  &__seeAll {
    background-color: $gray-200;
    border-radius: 4px;
    color: $primary;
    padding: 5px 10px;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }
}