/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/

.header {
  background-color: $primary;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16);
  padding: 10px;
  position: sticky;
  top: 0;
  z-index: 99999;
  &__toggler {
    background: none;
    border: none;
    font-size: 25px;
    display: block;
    @include media-breakpoint-up(lg) {
      display: none;
    }
  }
  &__navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1140px;
    margin-right: auto;
    margin-left: auto;
    > i {
      font-size: 28px;
      margin-left: 10px;
    }
  }
  &__input {
    background-color: transparent;
    border: 1px solid $white;
    border-radius: 14px;
    color: white;
    height: 28px;
    padding: 0 10px;
    text-align: center;
    min-width: initial;
    width: 55px;
    &::placeholder {
      color: $white;
    }
    @include media-breakpoint-up(lg) {
      min-width: 245px;
    }
  }
  &__button {
    background: none;
    border: none;
    color: white;
  }
  i {
    color: $white;
  }
  form {
    display: inline-block;
    margin-left: auto;
  }
}