/*--------------------------------------------------------------
# Main Content
--------------------------------------------------------------*/

.mainContent {
  & {
    background-color: $white;
    box-shadow: 0 0 4px $gray-400;
    margin-left: auto;
    max-width: 84%;
    flex: 0 0 auto;
    @include make-col-ready();
  }
  &__header {

  }
  &__tabs {

  }
}